In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# Hypothesis testing to find whether there is any increase in sales after stepping into digital marketing.

In [32]:
from scipy.stats import ttest_ind

In [33]:
t_stat1,p_value1=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [34]:
p_value1

2.614368006904645e-16

In [35]:
if p_value1<0.05:
    print('Null Hypothesis rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis rejected

# Hypothesis testing to check whether there is any dependency between the features “Region” and “Manager”

In [36]:
compare = pd.crosstab(data['Region'],data['Manager'])

In [43]:
compare

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [37]:
from scipy.stats import chisquare

In [39]:
import scipy.stats as stats

In [40]:
chi2, p, dof, ex = stats.chi2_contingency(compare)

In [41]:
p

0.5493991051158094

In [42]:
if p<0.05:
    print('Null Hypothesis rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted